.resume-btn{
    color: #915eff;
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid #878984;
    padding: 0.5rem;
    
    position: relative;
  }
  .resume-btn:hover{
    border: none;
    color: white;
  }
  
  .resume-btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff22;
    transition: width 0.5s cubic-bezier(.165, 0.84, 0.44, 1);
    /* z-index: -1; */
    pointer-events: none;
  }
  
  .resume-btn:hover:before {
    width: 100%;
    border: 2px solid #915eff;
    border-radius: 8px;
  }